
$colors : (
White: hsl(0, 0%, 100%),
black: hsl(0, 0%, 0%),
dark_gray: hsl(0, 0%, 55%),
very_dark_Gray: hsl(0, 0%, 41%),
);

@mixin resets {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@mixin flex ($direcion, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direcion;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@for $i from 1 through  8 {
    .creation__article--#{$i} {
        background-image: url("../images/mobile/#{$i}.jpg");
    } 
}

@mixin navAnchors {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: map-get($colors, white);
}

@mixin hoverLine {
    position: relative;
    &::after {
        content: "";
        width: 55%;
        height: 3px;
        background-color: white;
        position: absolute;
        top: 31px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.2s;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
}

@media screen and (min-width: 999px)  {
    @for $i from 1 through  8 {
        .creation__article--#{$i} {
            background-image: url("../images/desktop/#{$i}.jpg");
        } 
    }
}