@import "variables.scss";

html,
body {
    width: 100%;
    height: 100%;
    @include resets;
}

* {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// Header

.navbar__background {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 70px;
    position: fixed;
    top: -70px;
    z-index: 50;
    transition: all 0.2s;
}

.navbar__background--active {
    top: 0;
}

header {
    z-index: 2;
}

.titleNav__container {
    position: absolute;
    @include flex (row, nowrap, space-between, center);
    width: 90%;
    margin-top: 1.5rem;
    z-index: 101;
    position: fixed;
}

.titleNav_title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-transform: lowercase;
    color: map-get($colors, white);
    font-weight: bolder;
}


.titleNav__navbar {
    position: relative;
    width: 100%;
}

.navbar--desktop {
    display: none;
}

.navbar--mobile {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    @include flex(column, nowrap, center, flex-start);
    transition: transform 1s;
    right: 100%;
}

.hamburger {
    background-color: unset;
    border: none;
    right: 20px;
}

.hamburger--opened {
    display: none;
}

.showMenu {
    transform: translatex(100%);
}

.navbar--mobile>li {
    margin: 1.5rem 0 0 1rem;

    &>a {
        @include navAnchors;
    }
}

.header__img {
    background-image: url("../images/mobile/image-hero.jpg");
    height: 650px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 3;
    @include flex (column, nowrap, flex-start, center)
}

.headerTitle__container {
    border: 0.2rem solid map-get($colors, white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 80%;
}

.headerTitle__title {
    font-size: 2.8rem;
    color: map-get($colors, white);
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0.1rem;
    margin-top: 5px;
}

// body

.main {
    margin-top: 5rem;
    @include flex(column, nowrap, center, center);
    z-index: 50;
}

.main__picture {
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main__container {
    padding: 1.5rem 3.2rem;
    text-align: center;
    grid-area: text;
    background-color: map-get($colors, white);
}

.main__title {
    font-size: 2.1rem;
    color: map-get($colors, black);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem 0;
}

.main_paragraph {
    font-size: 0.9rem;
    padding: 0 0.2rem;
    font-family: 'Alata', sans-serif;
    color: map-get($colors, dark_gray);
    line-height: 1.5rem;

}

.creations {
    @include flex(column, wrap, center, flex-start);
    padding: 3rem 0 6rem 0;
}

.creations__title {
    @extend .main__title;
    text-align: center;
    width: 100%;
}

.creation__article {
    width: 300px;
    height: 110px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.7rem;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5536589635854341) -1%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.38559173669467783) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.creation__text {
    padding: 1rem 0;
    color: map-get($colors, white);
    font-size: 1.5rem;
    padding: 3.2rem 1rem 0 1rem;

    h5 {
        font-size: 1.5rem;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
    }
}

.creation__container {
    @include flex(row, wrap, center, flex-start);
    padding: 1rem 0;

}

.creation__button__container {
    width: 100%;
    text-align: center;
}

.creation__button {
    background: none;
    color: inherit;
    border: none;
    padding: 0.4rem 1.8rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-transform: uppercase;
    border: 0.1rem solid map-get($colors, black);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 5px;
}

// footer

footer {
    background-color: black;
    @include flex(column, nowrap, center, center);
    padding-bottom: 3rem;
}

.footer__title {
    @extend .titleNav_title;
    margin: 2.2rem 0 1.5rem 0;
}

.footer__sites {
    text-align: center;
    @include flex (column, nowrap, center, center)
}

.footer__sites>li {
    margin: 0.8rem 0;
}

.footer__sites>li>a {
    color: map-get($colors, white);
    font-family: 'Alata', sans-serif;
    font-size: 0.9rem;
}

.footer__networks {
    @include flex(row, nowrap, center, center);
}

.footer__networks>li {
    margin: 1rem 0.5rem;
}

.footer__copyrigth {
    color: map-get($colors, very_dark_Gray);
    font-family: 'Alata', sans-serif;
}

@media screen and (min-width: 999px) {
    .navbar--mobile {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .navbar__background {
        display: none;
    }

    .navbar--desktop {
        display: flex;
    }

    .titleNav__container {
        margin-top: 3rem;
        align-items: baseline;
        position: relative;

        &>* {
            margin: 0 60px;
        }
    }

    .navbar--desktop>li>a {
        @include navAnchors;
        text-transform: none;
        margin: 1rem;
        font-size: 1.3rem;
    }

    .header__img {
        background-image: url("../images/desktop/image-hero.jpg");
    }

    .headerTitle__title {
        font-size: 5rem;
        margin-top: 15px;
    }

    .headerTitle__container {
        left: 468px;
        padding: 2rem;
        width: 603px;
    }



    .main {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            ". . . . . ."
            ". . . text text text"
            ". . . text text text";
        background-image: url(../images/desktop/image-interactive.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 510px;
        margin: 100px 130px;
        align-items: flex-end;
    }

    .main__container {
        text-align: left;
        padding: 5rem 0 0 5rem;
        margin-bottom: -1px;
    }

    .main__picture {
        display: none;
    }

    .main__title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .main_paragraph {
        font-size: 1.15rem;
    }

    .creations {
        margin: 100px 130px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title button"
            "article article";
    }

    .creation__container {
        display: grid;
        grid-auto-rows: 27rem;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        grid-area: article;
        gap: 5rem;
    }

    .creations__title {
        text-align: left;
        grid-area: title;
        margin: 0;
        padding: 0;
    }

    .creation__article {
        width: unset;
        height: unset;
        margin: 0;

        &::before {
            background: rgb(0, 0, 0);
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5536589635854341) -1%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0) 100%);
        }
    }

    .creation__button__container {
        grid-area: button;
        text-align: right;
    }

    .creation__text {
        padding: 21.2rem 1rem 2rem 1.5rem;

        &>h5 {
            font-size: 2rem;
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 130px;
    }

    .footer__title {
        margin: 0 0 2rem 0;
        padding: 0;
    }

    .footer__sites {
        flex-direction: row;
        margin: 0;
        padding: 0;
        &>li {
            margin: 0 2rem 0 0;
        }
    }

    .footer__networks {
        justify-content: flex-end;
        margin: 0 0 2rem 0;
        padding: 0;
        &>li {
            margin: 0 0 0 2rem;
        }
    }

}